In [100]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

df = pd.read_csv('ASN00003.csv')
df=df.drop(df.columns[[0,1,2,3,4,7,8,9,10]],axis=1)
str = '24-05-2023 14:22'
df['record_create_timestamp'] = pd.to_datetime(df['record_create_timestamp'])
df.set_index('record_create_timestamp', inplace=True)

k=int(input("Enter no of minutes to predict:"))

for i in range(k):
    extrapolation_time = pd.to_datetime(str)
    extrapolation_time=extrapolation_time+timedelta(minutes=i)
    time_diff = (df.index[-1] - df.index[-2]).total_seconds() / 60

    value_diff = df['state_of_charge'].iloc[-1] - df['state_of_charge'].iloc[-2]

    extrapolated_value = df['state_of_charge'].iloc[-1] + (value_diff / time_diff) * (extrapolation_time - df.index[-1]).total_seconds() / 60
    if(extrapolated_value<=0):
        break

    new_row = pd.Series({ 'state_of_charge': extrapolated_value},name=extrapolation_time)

    df = df.append(new_row)

df.tail(k)

Enter no of minutes to predict:500

                         state_of_charge
record_create_timestamp
2023-05-24 00:20:00            76.400000
2023-05-24 00:30:00            77.800000
2023-05-24 00:40:00            79.100000
2023-05-24 00:51:00            80.500000
2023-05-24 01:01:00            81.700000
...                                  ...
2023-05-24 21:14:00             0.990909
2023-05-24 21:15:00             0.772727
2023-05-24 21:16:00             0.554545
2023-05-24 21:17:00             0.336364
2023-05-24 21:18:00             0.118182

[500 rows x 1 columns]